{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "no-var": ["error"],
    "prefer-const": ["error", { "destructuring": "all" }],
    "no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "no-use-before-define": ["error"],
    "quotes": ["off"],
    "strict": ["off"],
    "no-cond-assign": ["off"],
    "no-redeclare": ["off"],
    "no-console": ["off"],
    "no-constant-condition": ["off"]
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "Blockly": true,
    "goog": true
  },
  "overrides": [
    {
      "files": [
        "build.js",
        "webpack.config.js",
        "i18n/*.js",
        "tests/jsunit/test_runner.js"
      ],
      "env": {
        "browser": false,
        "node": true
      }
    }
  ],
  "extends": "eslint:recommended"
}
